
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 36% 12%;
    --foreground: 0 0% 98%;

    --card: 220 36% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 220 36% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 24 94% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 36% 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 220 36% 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 220 36% 18%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 36% 18%;
    --input: 220 36% 18%;
    --ring: 24 94% 53%;

    --radius: 0.5rem;

    --sidebar-background: 222 20% 18%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 24 94% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 20% 14%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 20% 14%;
    --sidebar-ring: 24 94% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-espfire-navy text-foreground;
  }
}

.flame-gradient {
  @apply bg-gradient-to-b from-yellow-300 via-orange-500 to-espfire-orange text-transparent bg-clip-text;
}
